{
    player_spawn_point = "spawn_point"

    next_scene = "level2"

    events = [
        {
            name = "event_name"
            
            # event types are...
            # save_people:
            #   civ_spawn_points_expression = "civilian_cluster_a/**"
            #   ufo_spawn_points_expression = "ufo_cluster_a/**"
            #   mission_description = "Save the congregation at the church!"
            #   failure_rate = 0.6 # if 60% die mission is failed
            #   
            # save_building:
            #   building_name = "building_node_name"
            #   damage_mesh = ["list of mesh files, from minor damage to major damage"]
            #
            # hunt_ufos:
            #   ufo_spawn_points = [""]
            #   ufo_types = [] # randomely picked from this list
            #
            # more to come...


            event_type = "save_people"
            
            # these events must have occurred first (success or failure)
            prerequisites = ["some_previous_event"]

            # how long to wait after the prerequisites before launching this event
            delay = 0

            # if defined, starts at a specific time (might be delayed
            # if prerequisites aren't ready. In general, better to 
            # start at a )
            start_time = 0

            # the duration of this event, if it happens in a fixed time
            # (leave undefined or set to 0 for events that don't have
            # a fixed duration)
            duration = 100

            # 
        }
    ]
    
}