{
    cutscene = false
    background = [1.0, 0.6, 0.2]
    fog_density = 0.005
    sun_color = [1.0, 0.6, 0.3]
    gravity = -5.8
    spawn_point = [0, 25]
	convoy_spawn_point = [0,5]
	convoy_goal_point = [1400, -8]

    world_mesh = "./scenes/mars/mars-mesh.obj"
    texture_hack = false

    next_scene = "level1"

    events = []
	
	objective = "escort"
	objective_amount = 10

    num_saucers = 10

    num_civilians = 40
    civilian_models = [
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Adventurer.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Spacesuit.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Swat.gltf",
    ]

}