{
    cutscene = false
    background = [0.75, 0.9, 1.0]
    fog_density = 0.0045
    sun_color = [1.0, 1.0, 1.0]
    gravity = -9.8
    spawn_point = [0, 5]

    world_mesh = "./scenes/debugscene/debugscene.obj"
    texture_hack = false

    next_scene = "level1"

    events = []
	
	objective = "rescue"
	objective_amount = 10

	buildings = [
	    {
	        type: "helipad",
	        model: "./art/buildings/helipad/helipad.obj"
            pos: [0, 0, -2]
            hpr: [0, 0, 0]
	    }
	]

    num_civilians = 40
    civilian_models = [
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Adventurer.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Beach.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Casual_2.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Casual_Hoodie.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Farmer.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/King.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Punk.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Spacesuit.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Suit.gltf",
        "art/creative-commons/Ultimate Modular Men- Feb 2022/Individual Characters/glTF/Swat.gltf",
    ]

}