{
    cutscene = false
    background = [1.0, 0.6, 0.2]
    fog_density = 0.005
    sun_color = [1.0, 0.6, 0.3]
    gravity = -5.8
    spawn_point = [0, 25]
    texture_hack = False

    world_mesh = "./scenes/mars/mars-mesh.obj"

    next_scene = "end"

    events = []
	
    num_civilians = 40
    civilian_lines = [
        "help!",
        "save me!",
        "I'm too young to die!",
        "your wig is terrible!",
        "you never cured space baldness!!"
    ]

	objective = "assault"
	objective_amount = 10
	num_saucers = 20
    
}